{% extends 'layout.html' %}
{% block body %}
{{ path|safe}}

<div class="actualpost">
	<form action="action_post?sub={{ post.id }}" method="POST">

		<input class="inputbox" value = {{post.title}} size="100" type="text" placeholder={{post.title}} name="title"><br>
		<input type="checkbox" id="private" name="private" value="False">
		<label for="private"> Private Post </label>
		<textarea class="inputbox" value = {{post.content}} rows="25" cols="100"  name="content" placeholder={{post.content}}></textarea><br>


		<p class="text-secondary">{{post.title}} </p>
		<p class="text-secondary">{{post.content}}</p>

		<input class="inputbox" type="submit" value="Edit Post">
	</form>
</div>


</div>


{%if comments%}

{% endif %}
<script type="text/javascript">
function toggle(){
	var div = document.getElementById("addcomment");
	var button = document.getElementById("displayaddcomment")
	if(div.style.display == "none" || div.style.display.trim() == ""){
		div.style.display = "inline";
		button.value="Hide";
	}else{
		div.style.display = "none";
		button.value="Add a comment"
	}

}
</script>


{% endblock %}


