{% extends 'layout.html' %}
{% block body %}

<div class="editpost">
	<form action="action_post?sub={{ post.id }}" method="POST">

		<input class="inputbox"  size="100" type="text"  value = {{post.title}} name="title"><br>
		<input type="checkbox" id="private" name="private" value="False">
		<label for="private"> Private Post </label>
		<textarea class="inputbox" rows="25" cols="100"  name="content" > {{post.content}}</textarea><br>

		<p class="text-secondary">{{post.title}} </p>
		<p class="text-secondary">{{post.content}}</p>

		<input class="inputbox" type="submit" value="Edit Post">
	</form>
</div>
</div>

{% endblock %}

<!--value = {{post.title}}-->
