


<!--Madhavi-->
<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
	<path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
  </svg>
<!--Madhavi-->

<a href="/" id="nolinks">
	<img src="../../../static/data.png" width="1000" height= 150"/>
	<b>{{ config.SITE_NAME }}</b>
</a>
{% if config.SITE_DESCRIPTION %} - {% endif %}
<i>{{ config.SITE_DESCRIPTION }}</i>
<div class="login">
	{% if current_user.is_authenticated %}
	<b {% if current_user.admin %} style="color: red;" {% endif %}>{{ current_user.username }}</b>

	<a class="account-heading" href="/action_profile">(Your Profile)</a>
	<a class="logoutlink" href="/action_logout">(logout)</a>



	{% else %}
	<a href="/loginform">Click here to login or register!</a>
	{% endif %}
</div>