{% extends 'layout.html' %}
{% block body %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}


<div class="loginbox">
	<h3>Login to Account</h3>
	<form action="/action_login" method="POST">
	<input class="loginelement" type="text" placeholder="Username" name="username"><br>
	<input class="loginelement" type="password" placeholder="Password" name="password"><br>
	<input class="loginelement" type="submit" value="Login">
	</form>
</div>
<br><br>
<div class="loginbox">
	<h3>Create Account</h3>
	<form action="/action_createaccount" method="POST">
	<input class="loginelement" type="email" placeholder="Email" name="email"><br>
	<input class="loginelement" type="text" placeholder="Username" name="username"><br>
	<input class="loginelement" type="password" placeholder="Password" name="password"><br>
	<input class="loginelement" type="submit" value="Create">
	</form>

</div>


{% endblock %}